*{
    margin: 0;
    padding: 0;
}
.calculator{
    width: 333px;
    height: 650px;
    margin: 100px auto 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}
.answer{
    background-color: white;
     width: 300px;
    height: 100px;
    
}
.numbers{
    display: flex;
    justify-content: end;
    margin-top: 50px;


}

.clearDel{
    display: flex;
     width: 300px;
    justify-content: space-between;
    margin-top: 12px;
}
.clearDel button{
    padding: 10px 50px;


}
.buttons{
    display: flex;
    width: 300px;
    height: 450px;
}
.columnZero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
}
.columnZero button{
    padding: 10px;
}

.columnOne{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
}
.columnOne button{
    padding: 10px
}

.columnTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     width: 100px;
}
.columnTwo button{
    padding: 10px
}

.columnThree{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     width: 100px;
}
.columnThree button{
    padding: 10px;
}