*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(182, 182, 182);
}
.calculator{
    width: 333px;
    height: 600px;
    margin: 50px auto 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(78, 78, 78);
}
.answer{
    background-color: white;
    width: 300px;
    height: 120px;
    background-color: rgb(63, 63, 63);
}
.numbers{
    display: flex;
    justify-content: end;
    margin: 60px 13px 0 0;
    color: white;
}

.clearDelSection{
    display: flex;
    width: 300px;
}
.clearDelSection .clear{
    background-color: rgba(255, 2, 2, 0.506);
    width: 50%;
    padding: 13px 0;
}
.clearDelSection .delete{
    background-color: rgb(255, 2, 2);
    width: 50%;
    padding: 13px 0;
}
.allBtns{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rowZero{
    display: flex;
    justify-content: space-between;
    width: 300px;
    gap: 5px;
}
.rowZero button{
    width: 75px;
    height: 75px;
    font-size: 28px;
}

.rowOne{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 300px;
}
.rowOne button{
    font-size: 28px;
    width: 75px;
    height: 75px;
}

.rowTwo{
    display: flex;
    justify-content: space-between;
    width: 300px;
    gap: 5px;
}
.rowTwo button{
    font-size: 28px;
    width: 75px;
    height: 75px;
}

.rowThree{
    display: flex;
    justify-content: space-between;
    width: 300px;
    gap: 5px;
}
.rowThree button{
    font-size: 28px;
    width: 75px;
    height: 75px;
}
.button{
    background-color: rgb(182, 182, 182);
    font-size: 28px;
}
.lastBtn{
    background-color: orange;
}
/* footer{
    display: flex;
    justify-content: center;
width: 300px;
height: 130px;
margin: 30px auto 0;
font-size: 34px;
text-align: center;
align-items: end;
} */
footer{
    margin: 50px auto 5px auto ;
    width: 100%;
    text-align: center;
    font-size: 35px;
}
footer a {
    color: aqua;
    text-decoration: none;
  }
  footer a:hover{
    color: aqua;
    text-decoration: underline;
  }
footer img{
    width: 45px;
    height: 45px;
}