*{
    margin: 0;
    padding: 0;
}
.calculator{
    width: 333px;
    height: 600px;
    margin: 50px auto 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    border-radius: 20px;
}
.answer{
    background-color: white;
    width: 300px;
    height: 120px;
    background-color: rgb(63, 63, 63);
}
.numbers{
    display: flex;
    justify-content: end;
    margin-top: 60px;
    color: white;
}

.clearDel{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.clearDel .clear{
    background-color: rgb(166, 0, 0);
}
.clearDel button{
    padding: 10px 50px;

}

.rowZero{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.rowZero button{
    padding: 15px 30px;
    font-size: 28px;
}

.rowOne{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.rowOne button{
    padding: 15px 30px;
    font-size: 28px;
}

.rowTwo{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.rowTwo button{
    padding: 15px 30px;
    font-size: 28px;
}

.rowThree{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.rowThree button{
    padding: 15px 30px;
    font-size: 28px;
}
.button{
    padding: 15px 30px;
    font-size: 28px;
}
.lastBtn{
    background-color: orange;
}